<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prueba flask</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
        <p>{{message}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}


    <div style="display: flex; justify-content: center;">
    <div style="width: 20%; height: 20%;">
    <img src="/./static/coco.jpg" class="img-fluid" alt="Responsive image">
    </div>
    </div>



    <div class="d-flex" style="flex-direction: column; height: 50%;">


        <div style="display: flex; height: 50%;">

        <form action="/buscar" method="POST" style="width: 50%; display: flex; justify-content: center; margin: 1rem;" >
        

            <button type="submit" class="btn btn-primary">Presupuesto</button>

        
        </form>
        


        <form action="/ventas" method="POST" style="width: 50%;display: flex; justify-content: center; margin: 1rem;" >

            <button type="submit" class="btn btn-primary">Ventas</button>

        </form>

        </div>

        <div style="display: flex; height: 50%;">

            <form action="/a_clientes" method="POST" style="width: 50%; display: flex; justify-content: center; margin: 1rem;" >
            
    
                <button type="submit" class="btn btn-primary">Clientes</button>
    
            
            </form>
            
    
    
            <form action="/a_stock" method="POST" style="width: 50%;display: flex; justify-content: center; margin: 1rem;" >
    
                <button type="submit" class="btn btn-primary">Stock</button>
    
            </form>
    
            </div>


      <div> 




</body>
</html>